.topic-editor-container {
	padding:5px;
}

.topic-editor-container .navbar .brand {
	float:right;
	padding-left:0;
	padding-right:0;
	color:black;
	font-weight:bold;
	text-shadow:0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}